[submodule "internationalization/repositories/regions_translations/data/2022-06-19"]
	path = internationalization/repositories/regions_translations/data/2022-06-19
	url = git@github.com:stefangabos/world_countries.git
	branch = 'v2.6.0'
[submodule "internationalization/repositories/languages_translations/data/all-iso-language-codes"]
	path = internationalization/repositories/languages_translations/data/all-iso-language-codes
	url = https://github.com/ihmpavel/all-iso-language-codes.git
[submodule "internationalization/repositories/internationalization/data/world_countries"]
	path = internationalization/repositories/internationalization/data/world_countries
	url = https://github.com/stefangabos/world_countries.git
[submodule "internationalization/repositories/internationalization/data/i18n-country-translations"]
	path = internationalization/repositories/internationalization/data/i18n-country-translations
	url = https://github.com/onomojo/i18n-country-translations.git
[submodule "internationalization/repositories/internationalization/data/all-iso-language-codes"]
	path = internationalization/repositories/internationalization/data/all-iso-language-codes
	url = https://github.com/ihmpavel/all-iso-language-codes.git
