[submodule "internationalization/repositories/bcp47_i18n/data/world_countries"]
	path = internationalization/repositories/bcp47_i18n/data/world_countries
	url = https://github.com/stefangabos/world_countries.git
[submodule "internationalization/repositories/bcp47_i18n/data/all-iso-language-codes"]
	path = internationalization/repositories/bcp47_i18n/data/all-iso-language-codes
	url = https://github.com/ihmpavel/all-iso-language-codes.git
[submodule "internationalization/repositories/bcp47_i18n/data/countries"]
	path = internationalization/repositories/bcp47_i18n/data/countries
	url = https://github.com/mledoze/countries.git
